openapi: 3.0.3
info:
  title: SonarQube Cloud Web authentication webservices API
  version: v1
  description: The SonarQube Cloud Web API, derived faithfully from the machine-readable service catalog the instance publishes at /api/webservices/list.
  x-derived-from: https://sonarcloud.io/api/webservices/list
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
servers:
- url: https://sonarcloud.io
security:
- bearerToken: []
- basicToken: []
tags:
- name: webservices
  description: Get information on the web api supported on this instance.
paths:
  /api/webservices/list:
    get:
      operationId: webservicesList
      summary: List web services
      description: List web services
      tags:
      - webservices
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/webservices/response_example:
    get:
      operationId: webservicesResponseExample
      summary: Display web service response example
      description: Display web service response example
      tags:
      - webservices
      parameters:
      - name: action
        in: query
        description: Action of the web service
        required: true
        schema:
          type: string
        example: search
      - name: controller
        in: query
        description: Controller of the web service
        required: true
        schema:
          type: string
        example: api/issues
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: User token as Bearer token.
    basicToken:
      type: http
      scheme: basic
      description: User token as HTTP Basic username with empty password.
