openapi: 3.2.0
info:
  title: SonarQube Cloud Web Authentication API
  version: v1
  description: The SonarQube Cloud Web API, derived faithfully from the machine-readable service catalog the instance publishes at /api/webservices/list.
  x-derived-from: https://sonarcloud.io/api/webservices/list
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
servers:
- url: https://sonarcloud.io
security:
- bearerToken: []
- basicToken: []
tags:
- name: authentication
  description: Handle authentication.
paths:
  /api/authentication/logout:
    post:
      operationId: authenticationLogout
      summary: Logout a user.
      description: Logout a user.
      tags:
      - authentication
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/authentication/validate:
    get:
      operationId: authenticationValidate
      summary: Check credentials. Returns true for anonymous user.
      description: Check credentials. Returns true for anonymous user.
      tags:
      - authentication
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: User token as Bearer token.
    basicToken:
      type: http
      scheme: basic
      description: User token as HTTP Basic username with empty password.
