openapi: 3.2.0
info:
  title: SonarQube Cloud Web authentication Project Pull Requests API
  version: v1
  description: The SonarQube Cloud Web API, derived faithfully from the machine-readable service catalog the instance publishes at /api/webservices/list.
  x-derived-from: https://sonarcloud.io/api/webservices/list
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
servers:
- url: https://sonarcloud.io
security:
- bearerToken: []
- basicToken: []
tags:
- name: project_pull_requests
  description: Manage pull request (only available when the Branch plugin is installed)
paths:
  /api/project_pull_requests/delete:
    post:
      operationId: projectPullRequestsDelete
      summary: Delete a pull request. Requires 'Administer' rights on the specified project.
      description: Delete a pull request. Requires 'Administer' rights on the specified project.
      tags:
      - project_pull_requests
      parameters:
      - name: project
        in: query
        description: Project key
        required: true
        schema:
          type: string
        example: my_project
      - name: pullRequest
        in: query
        description: Pull request id
        required: true
        schema:
          type: string
        example: '1543'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/project_pull_requests/list:
    get:
      operationId: projectPullRequestsList
      summary: 'List the pull requests of a project. One of the following permissions is required: ''Browse'' rights on the specified p...'
      description: 'List the pull requests of a project. One of the following permissions is required: ''Browse'' rights on the specified project''Execute Analysis'' rights on the specified project'
      tags:
      - project_pull_requests
      parameters:
      - name: project
        in: query
        description: Project key
        required: true
        schema:
          type: string
        example: my_project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: User token as Bearer token.
    basicToken:
      type: http
      scheme: basic
      description: User token as HTTP Basic username with empty password.
