openapi: 3.0.3
info:
  title: SonarQube Cloud Web authentication languages API
  version: v1
  description: The SonarQube Cloud Web API, derived faithfully from the machine-readable service catalog the instance publishes at /api/webservices/list.
  x-derived-from: https://sonarcloud.io/api/webservices/list
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
servers:
- url: https://sonarcloud.io
security:
- bearerToken: []
- basicToken: []
tags:
- name: languages
  description: Get the list of programming languages supported in this instance.
paths:
  /api/languages/list:
    get:
      operationId: languagesList
      summary: List supported programming languages
      description: List supported programming languages
      tags:
      - languages
      parameters:
      - name: ps
        in: query
        description: The size of the list to return, 0 for all languages
        required: false
        schema:
          type: string
          default: '0'
        example: '25'
      - name: q
        in: query
        description: A pattern to match language keys/names against
        required: false
        schema:
          type: string
        example: java
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: User token as Bearer token.
    basicToken:
      type: http
      scheme: basic
      description: User token as HTTP Basic username with empty password.
