# generated: 2026-07-21
# method: derived
# source: https://sonarcloud.io/api/webservices/list
openapi: 3.0.3
info:
  title: SonarQube Cloud Web API
  version: v1
  description: The SonarQube Cloud Web API, derived faithfully from the machine-readable service catalog
    the instance publishes at /api/webservices/list.
  x-derived-from: https://sonarcloud.io/api/webservices/list
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
servers:
- url: https://sonarcloud.io
tags:
- name: authentication
  description: Handle authentication.
- name: ce
  description: Get information on Compute Engine tasks.
- name: components
  description: Get information about a component (file, directory, project, ...) and its ancestors or
    descendants. Update a project or module key.
- name: duplications
  description: Get duplication information for a project.
- name: favorites
  description: Manage user favorites
- name: favourites
  description: Removed since 6.3, please use api/favorites instead
- name: hotspots
  description: Read and update Security Hotspots. Hotspots are deprecated and replaced by security issues
    (software quality) and vulnerabilities (type). Please use the API of security issues / vulnerabilities
    instea
- name: issues
  description: Read and update issues.
- name: languages
  description: Get the list of programming languages supported in this instance.
- name: measures
  description: Get components or children with specified measures.
- name: metrics
  description: Get information on automatic metrics, and manage custom metrics. See also api/custom_measures.
- name: notifications
  description: Manage notifications of the authenticated user
- name: permissions
  description: Manage permission templates, and the granting and revoking of permissions at the global
    and project levels.
- name: project_analyses
  description: Manage project analyses.
- name: project_badges
  description: Generate badges based on quality gates or measures
- name: project_branches
  description: Manage branch (only available when the Branch plugin is installed)
- name: project_links
  description: Manage projects links.
- name: project_pull_requests
  description: Manage pull request (only available when the Branch plugin is installed)
- name: project_tags
  description: Manage project tags
- name: projects
  description: Manage project existence.
- name: properties
  description: This web service is deprecated, please use api/settings instead.
- name: qualitygates
  description: Manage quality gates, including conditions and project association.
- name: qualityprofiles
  description: Manage quality profiles.
- name: rules
  description: Get and update some details of automatic rules, and manage custom rules.
- name: settings
  description: Manage settings.
- name: sources
  description: Get details on source files. See also api/tests.
- name: timemachine
  description: Removed since 6.3, please use api/measures/search_history instead
- name: user_groups
  description: Manage user groups.
- name: user_properties
  description: Removed since 6.3, please use api/favorites and api/notifications instead
- name: user_tokens
  description: List, create, and delete a user's access tokens.
- name: users
  description: Manage users.
- name: webhooks
  description: Webhooks allow to notify external services when a project analysis is done
- name: webservices
  description: Get information on the web api supported on this instance.
security:
- bearerToken: []
- basicToken: []
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: User token as Bearer token.
    basicToken:
      type: http
      scheme: basic
      description: User token as HTTP Basic username with empty password.
paths:
  /api/authentication/logout:
    post:
      operationId: authenticationLogout
      summary: Logout a user.
      description: Logout a user.
      tags:
      - authentication
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/authentication/validate:
    get:
      operationId: authenticationValidate
      summary: Check credentials. Returns true for anonymous user.
      description: Check credentials. Returns true for anonymous user.
      tags:
      - authentication
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/ce/activity:
    get:
      operationId: ceActivity
      summary: Search for tasks. Either componentId or component can be provided, but not both. Requires
        the project administration ...
      description: Search for tasks. Either componentId or component can be provided, but not both. Requires
        the project administration permission if componentId or component is set.
      tags:
      - ce
      parameters:
      - name: component
        in: query
        description: Key of the component (project) to filter on
        required: false
        schema:
          type: string
        example: projectKey
      - name: componentId
        in: query
        description: Id of the component (project) to filter on
        required: false
        schema:
          type: string
        example: AU-TpxcA-iU5OvuD2FL0
      - name: maxExecutedAt
        in: query
        description: Maximum date of end of task processing (inclusive)
        required: false
        schema:
          type: string
        example: 2017-10-19T13:00:00+0200
      - name: minSubmittedAt
        in: query
        description: Minimum date of task submission (inclusive)
        required: false
        schema:
          type: string
        example: 2017-10-19T13:00:00+0200
      - name: onlyCurrents
        in: query
        description: Filter on the last tasks (only the most recent finished task by project)
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'false'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 1000
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      - name: q
        in: query
        description: 'Limit search to: component names that contain the supplied stringcomponent keys
          that are exactly the same as the supplied stringtask ids that are exactly the same as the supplied
          stringMust not be set together with componentId'
        required: false
        schema:
          type: string
        example: Apache
      - name: status
        in: query
        description: Comma separated list of task statuses
        required: false
        schema:
          type: string
          enum:
          - SUCCESS
          - FAILED
          - CANCELED
          - PENDING
          - IN_PROGRESS
          default: SUCCESS,FAILED,CANCELED
        example: IN_PROGRESS,SUCCESS
      - name: type
        in: query
        description: Task type
        required: false
        schema:
          type: string
          enum:
          - REPORT
        example: REPORT
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/ce/activity_status:
    get:
      operationId: ceActivityStatus
      summary: Returns CE activity related metrics. Requires 'Administer' permission on the specified
        project.
      description: Returns CE activity related metrics. Requires 'Administer' permission on the specified
        project.
      tags:
      - ce
      parameters:
      - name: componentId
        in: query
        description: Id of the component (project) to filter on
        required: false
        schema:
          type: string
        example: AU-TpxcA-iU5OvuD2FL0
      - name: componentKey
        in: query
        description: Key of the component (project) to filter on
        required: false
        schema:
          type: string
        example: my_project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/ce/component:
    get:
      operationId: ceComponent
      summary: Get the pending tasks, in-progress tasks and the last executed task of a given component
        (usually a project). Require...
      description: 'Get the pending tasks, in-progress tasks and the last executed task of a given component
        (usually a project). Requires the following permission: ''Browse'' on the specified component.
        Either ''componentId'' or ''component'' must be provided.'
      tags:
      - ce
      parameters:
      - name: component
        in: query
        description: ''
        required: false
        schema:
          type: string
        example: my_project
      - name: componentId
        in: query
        description: ''
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/ce/task:
    get:
      operationId: ceTask
      summary: Give Compute Engine task details such as type, status, duration and associated component.
        Requires 'Execute Analysis'...
      description: Give Compute Engine task details such as type, status, duration and associated component.
        Requires 'Execute Analysis' permission.
      tags:
      - ce
      parameters:
      - name: additionalFields
        in: query
        description: Comma-separated list of the optional fields to be returned in response.
        required: false
        schema:
          type: string
          enum:
          - scannerContext
          - warnings
      - name: id
        in: query
        description: Id of task
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/components/search:
    get:
      operationId: componentsSearch
      summary: Search for projects. Used to provide the ability to search for any component but this option
        has been removed and web...
      description: Search for projects. Used to provide the ability to search for any component but this
        option has been removed and webservice 'api/components/tree' should be used instead for this purpose
      tags:
      - components
      parameters:
      - name: organization
        in: query
        description: Organization key
        required: true
        schema:
          type: string
        example: my-org
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 500
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      - name: q
        in: query
        description: 'Limit search to: component names that contain the supplied stringcomponent keys
          that are exactly the same as the supplied string'
        required: false
        schema:
          type: string
        example: sonar
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/components/show:
    get:
      operationId: componentsShow
      summary: Returns a component (file, directory, project) and its ancestors. The ancestors are ordered
        from the parent to the ro...
      description: 'Returns a component (file, directory, project) and its ancestors. The ancestors are
        ordered from the parent to the root project. Requires the following permission: ''Browse'' on
        the project of the specified component.'
      tags:
      - components
      parameters:
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: component
        in: query
        description: Component key
        required: true
        schema:
          type: string
        example: my_project
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/components/tree:
    get:
      operationId: componentsTree
      summary: 'Navigate through components based on the chosen strategy. Requires the following permission:
        ''Browse'' on the specifie...'
      description: 'Navigate through components based on the chosen strategy. Requires the following permission:
        ''Browse'' on the specified project. When limiting search with the q parameter, directories are
        not returned.'
      tags:
      - components
      parameters:
      - name: asc
        in: query
        description: Ascending sort
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'true'
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: component
        in: query
        description: Base component key. The search is based on this component.
        required: true
        schema:
          type: string
        example: my_project
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 500
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      - name: q
        in: query
        description: 'Limit search to: component names that contain the supplied stringcomponent keys
          that are exactly the same as the supplied string'
        required: false
        schema:
          type: string
        example: FILE_NAM
      - name: qualifiers
        in: query
        description: Comma-separated list of component qualifiers. Filter the results with the specified
          qualifiers. Possible values are:BRC - Sub-projectsDIR - DirectoriesFIL - FilesTRK - ProjectsUTS
          - Test Files
        required: false
        schema:
          type: string
          enum:
          - BRC
          - DIR
          - FIL
          - TRK
          - UTS
      - name: s
        in: query
        description: Comma-separated list of sort fields
        required: false
        schema:
          type: string
          enum:
          - name
          - path
          - qualifier
          default: name
        example: name, path
      - name: strategy
        in: query
        description: 'Strategy to search for base component descendants:children: return the children
          components of the base component. Grandchildren components are not returnedall: return all the
          descendants components of the base component. Grandchildren are returned.leaves: return all
          the descendant components (files, in general) which don''t have other children. They are the
          leaves of the component tree.'
        required: false
        schema:
          type: string
          enum:
          - all
          - children
          - leaves
          default: all
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/duplications/show:
    get:
      operationId: duplicationsShow
      summary: Get duplications. Require Browse permission on file's project
      description: Get duplications. Require Browse permission on file's project
      tags:
      - duplications
      parameters:
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: key
        in: query
        description: File key
        required: false
        schema:
          type: string
        example: my_project:/src/foo/Bar.php
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      - name: uuid
        in: query
        description: File ID. If provided, 'key' must not be provided.
        required: false
        schema:
          type: string
        example: 584a89f2-8037-4f7b-b82c-8b45d2d63fb2
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/favorites/add:
    post:
      operationId: favoritesAdd
      summary: Add a project as favorite for the authenticated user. Only 100 components can be added
        as favorite. Requires authenti...
      description: 'Add a project as favorite for the authenticated user. Only 100 components can be added
        as favorite. Requires authentication and the following permission: ''Browse'' on the project.'
      tags:
      - favorites
      parameters:
      - name: component
        in: query
        description: Component key. Only components with qualifier TRK are supported
        required: true
        schema:
          type: string
        example: my_project:/src/foo/Bar.php
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/favorites/remove:
    post:
      operationId: favoritesRemove
      summary: Remove a component (project, directory, file etc.) as favorite for the authenticated user.
        Requires authentication.
      description: Remove a component (project, directory, file etc.) as favorite for the authenticated
        user. Requires authentication.
      tags:
      - favorites
      parameters:
      - name: component
        in: query
        description: Component key
        required: true
        schema:
          type: string
        example: my_project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/favorites/search:
    get:
      operationId: favoritesSearch
      summary: Search for the authenticated user favorites. Requires authentication.
      description: Search for the authenticated user favorites. Requires authentication.
      tags:
      - favorites
      parameters:
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 500
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/favourites/index:
    get:
      operationId: favouritesIndex
      summary: The web service is removed and you're invited to use api/favorites instead
      description: The web service is removed and you're invited to use api/favorites instead
      tags:
      - favourites
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/hotspots/change_status:
    post:
      operationId: hotspotsChangeStatus
      summary: Change the status of a Security Hotpot. Requires the 'Administer Security Hotspot' permission.
      description: Change the status of a Security Hotpot. Requires the 'Administer Security Hotspot'
        permission.
      tags:
      - hotspots
      parameters:
      - name: comment
        in: query
        description: Comment text.
        required: false
        schema:
          type: string
        example: This is safe because user input is validated by the calling code
      - name: hotspot
        in: query
        description: Key of the Security Hotspot
        required: true
        schema:
          type: string
        example: AU-TpxcA-iU5OvuD2FL0
      - name: resolution
        in: query
        description: Resolution of the Security Hotspot when new status is REVIEWED, otherwise must not
          be set.
        required: false
        schema:
          type: string
          enum:
          - FIXED
          - SAFE
      - name: status
        in: query
        description: New status of the Security Hotspot.
        required: true
        schema:
          type: string
          enum:
          - TO_REVIEW
          - REVIEWED
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/hotspots/search:
    get:
      operationId: hotspotsSearch
      summary: Search for Security Hotpots.
      description: Search for Security Hotpots.
      tags:
      - hotspots
      parameters:
      - name: fileUuids
        in: query
        description: Comma-separated list of file uuids. Returns only hotspots found in those files. If
          set, 'files' must not be set.
        required: false
        schema:
          type: string
        example: AXAKhxssZ0nocQ78Us1K
      - name: files
        in: query
        description: Comma-separated list of file paths. Returns only hotspots found in those files. If
          set, 'fileUuids' must not be set.
        required: false
        schema:
          type: string
        example: src/main/java/com/sonarsource/FourthClass.java
      - name: hotspots
        in: query
        description: Comma-separated list of Security Hotspot keys. This parameter is required unless
          projectKey is provided.
        required: false
        schema:
          type: string
        example: my_project
      - name: onlyMine
        in: query
        description: If 'projectKey' is provided, returns only Security Hotspots assigned to the current
          user
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: projectKey
        in: query
        description: Key of the project or application. This parameter is required unless hotspots is
          provided.
        required: false
        schema:
          type: string
        example: my_project
      - name: ps
        in: query
        description: Page size. Must be greater than 0.
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      - name: resolution
        in: query
        description: If 'projectKey' is provided and if status is 'REVIEWED', only Security Hotspots with
          the specified resolution are returned.
        required: false
        schema:
          type: string
          enum:
          - FIXED
          - SAFE
      - name: sinceLeakPeriod
        in: query
        description: If '%s' is provided, only Security Hotspots created since the leak period are returned.
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'false'
      - name: status
        in: query
        description: If 'projectKey' is provided, only Security Hotspots with the specified status are
          returned.
        required: false
        schema:
          type: string
          enum:
          - TO_REVIEW
          - REVIEWED
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/hotspots/show:
    get:
      operationId: hotspotsShow
      summary: Provides the details of a Security Hotspot.
      description: Provides the details of a Security Hotspot.
      tags:
      - hotspots
      parameters:
      - name: hotspot
        in: query
        description: Key of the Security Hotspot
        required: true
        schema:
          type: string
        example: AU-TpxcA-iU5OvuD2FL0
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/issues/add_comment:
    post:
      operationId: issuesAddComment
      summary: 'Add a comment. Requires authentication and the following permission: ''Browse'' on the
        project of the specified issue.'
      description: 'Add a comment. Requires authentication and the following permission: ''Browse'' on
        the project of the specified issue.'
      tags:
      - issues
      parameters:
      - name: isFeedback
        in: query
        description: Define is the given comment is a feedback
        required: false
        schema:
          type: string
          default: 'false'
        example: 'true'
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: text
        in: query
        description: Comment text
        required: true
        schema:
          type: string
        example: Won't fix because it doesn't apply to the context
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/assign:
    post:
      operationId: issuesAssign
      summary: Assign/Unassign an issue. Requires authentication and Browse permission on project
      description: Assign/Unassign an issue. Requires authentication and Browse permission on project
      tags:
      - issues
      parameters:
      - name: assignee
        in: query
        description: Login of the assignee. When not set, it will unassign the issue. Use '_me' to assign
          to current user
        required: false
        schema:
          type: string
        example: admin
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/authors:
    get:
      operationId: issuesAuthors
      summary: Search SCM accounts which match a given query. Requires authentication.
      description: Search SCM accounts which match a given query. Requires authentication.
      tags:
      - issues
      parameters:
      - name: organization
        in: query
        description: Organization key
        required: true
        schema:
          type: string
        example: my-org
      - name: project
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 100
        required: false
        schema:
          type: string
          default: '10'
        example: '20'
      - name: q
        in: query
        description: Limit search to authors that contain the supplied string.
        required: false
        schema:
          type: string
        example: luke
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/bulk_change:
    post:
      operationId: issuesBulkChange
      summary: Bulk change on issues. Requires authentication.
      description: Bulk change on issues. Requires authentication.
      tags:
      - issues
      parameters:
      - name: add_tags
        in: query
        description: Add tags
        required: false
        schema:
          type: string
        example: security,java8
      - name: assign
        in: query
        description: To assign the list of issues to a specific user (login), or un-assign all the issues
        required: false
        schema:
          type: string
        example: john.smith
      - name: comment
        in: query
        description: To add a comment to a list of issues
        required: false
        schema:
          type: string
        example: Here is my comment
      - name: do_transition
        in: query
        description: Transition
        required: false
        schema:
          type: string
          enum:
          - confirm
          - unconfirm
          - reopen
          - resolve
          - falsepositive
          - close
          - wontfix
          - accept
          - resolveasreviewed
          - resolveassafe
          - resolveasacknowledged
          - resetastoreview
        example: reopen
      - name: isFeedback
        in: query
        description: Define if the given comment is a feedback
        required: false
        schema:
          type: string
          default: 'false'
        example: 'false'
      - name: issues
        in: query
        description: Comma-separated list of issue keys
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy,AU-TpxcA-iU5OvuD2FLz
      - name: remove_tags
        in: query
        description: Remove tags
        required: false
        schema:
          type: string
        example: security,java8
      - name: sendNotifications
        in: query
        description: ''
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'false'
      - name: set_severity
        in: query
        description: To change the severity of the list of issues
        required: false
        schema:
          type: string
          enum:
          - INFO
          - MINOR
          - MAJOR
          - CRITICAL
          - BLOCKER
        example: BLOCKER
      - name: set_type
        in: query
        description: To change the type of the list of issues
        required: false
        schema:
          type: string
          enum:
          - CODE_SMELL
          - BUG
          - VULNERABILITY
          - SECURITY_HOTSPOT
        example: BUG
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/changelog:
    get:
      operationId: issuesChangelog
      summary: Display changelog of an issue. Requires the 'Browse' permission on the project of the specified
        issue.
      description: Display changelog of an issue. Requires the 'Browse' permission on the project of the
        specified issue.
      tags:
      - issues
      parameters:
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/delete_comment:
    post:
      operationId: issuesDeleteComment
      summary: 'Delete a comment. Requires authentication and the following permission: ''Browse'' on
        the project of the specified issue.'
      description: 'Delete a comment. Requires authentication and the following permission: ''Browse''
        on the project of the specified issue.'
      tags:
      - issues
      parameters:
      - name: comment
        in: query
        description: Comment key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/do_transition:
    post:
      operationId: issuesDoTransition
      summary: Do workflow transition on an issue. Requires authentication and Browse permission on project.
        The transitions 'accept...
      description: Do workflow transition on an issue. Requires authentication and Browse permission on
        project. The transitions 'accept', 'wontfix', and 'falsepositive' require the permission 'Administer
        Issues'. The transitions involving security hotspots require the permission 'Administer Security
        Hotspot'.
      tags:
      - issues
      parameters:
      - name: comment
        in: query
        description: Comment text
        required: false
        schema:
          type: string
        example: Won't fix because it doesn't apply to the context
      - name: isFeedback
        in: query
        description: Define is the given comment is a feedback
        required: false
        schema:
          type: string
          default: 'false'
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: transition
        in: query
        description: Transition
        required: true
        schema:
          type: string
          enum:
          - confirm
          - unconfirm
          - reopen
          - resolve
          - falsepositive
          - close
          - wontfix
          - accept
          - resolveasreviewed
          - resolveassafe
          - resolveasacknowledged
          - resetastoreview
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/edit_comment:
    post:
      operationId: issuesEditComment
      summary: 'Edit a comment. Requires authentication and the following permission: ''Browse'' on the
        project of the specified issue.'
      description: 'Edit a comment. Requires authentication and the following permission: ''Browse'' on
        the project of the specified issue.'
      tags:
      - issues
      parameters:
      - name: comment
        in: query
        description: Comment key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: text
        in: query
        description: Comment text
        required: true
        schema:
          type: string
        example: Won't fix because it doesn't apply to the context
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/search:
    get:
      operationId: issuesSearch
      summary: Search for issues. Requires the 'Browse' permission on the specified project(s).
      description: Search for issues. Requires the 'Browse' permission on the specified project(s).
      tags:
      - issues
      parameters:
      - name: additionalFields
        in: query
        description: Comma-separated list of the optional fields to be returned in response. Action plans
          are dropped in 5.5, it is not returned in the response.
        required: false
        schema:
          type: string
          enum:
          - _all
          - comments
          - languages
          - actionPlans
          - rules
          - ruleDescriptionContextKey
          - transitions
          - actions
          - users
      - name: asc
        in: query
        description: Ascending sort
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'true'
      - name: assigned
        in: query
        description: To retrieve assigned or unassigned issues
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
      - name: assignees
        in: query
        description: Comma-separated list of assignee logins. The value '__me__' can be used as a placeholder
          for user who performs the request
        required: false
        schema:
          type: string
        example: admin,usera,__me__
      - name: author
        in: query
        description: SCM accounts. To set several values, the parameter must be called once for each value.
        required: false
        schema:
          type: string
        example: author=torvalds@linux-foundation.org&author=linux@fondation.org
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: cleanCodeAttributeCategories
        in: query
        description: Comma-separated list of clean code attribute categories.
        required: false
        schema:
          type: string
          enum:
          - ADAPTABLE
          - CONSISTENT
          - INTENTIONAL
          - RESPONSIBLE
        example: ADAPTABLE,INTENTIONAL
      - name: complianceStandards
        in: query
        description: Set of compliance standards to filter on. Categories within a standard are comma-separated
          and behave as an 'or'. Multiple standards are separated by an ampersand and behave as an 'and'.
        required: false
        schema:
          type: string
        example: owasp_asvs:urn:sonar-security-standard:owasp:asvs:5.0=15,16&sonar_standard:urn:sonar-security-standard:sonar:standard:unversioned=log-injection
      - name: componentKeys
        in: query
        description: Comma-separated list of component keys. Retrieve issues associated to a specific
          list of components (and all its descendants). A component can be a project, directory or file.
        required: false
        schema:
          type: string
        example: my_project
      - name: createdAfter
        in: query
        description: To retrieve issues created after the given date (inclusive). Either a date (server
          timezone) or datetime can be provided. If this parameter is set, createdSince must not be set
        required: false
        schema:
          type: string
        example: 2017-10-19 or 2017-10-19T13:00:00+0200
      - name: createdAt
        in: query
        description: Datetime to retrieve issues created during a specific analysis
        required: false
        schema:
          type: string
        example: 2017-10-19T13:00:00+0200
      - name: createdBefore
        in: query
        description: To retrieve issues created before the given date (inclusive). Either a date (server
          timezone) or datetime can be provided.
        required: false
        schema:
          type: string
        example: 2017-10-19 or 2017-10-19T13:00:00+0200
      - name: createdInLast
        in: query
        description: To retrieve issues created during a time span before the current time (exclusive).
          Accepted units are 'y' for year, 'm' for month, 'w' for week and 'd' for day. If this parameter
          is set, createdAfter must not be set
        required: false
        schema:
          type: string
        example: 1m2w (1 month 2 weeks)
      - name: cwe
        in: query
        description: Comma-separated list of CWE identifiers. Use 'unknown' to select issues not associated
          to any CWE.
        required: false
        schema:
          type: string
        example: 12,125,unknown
      - name: facetMode
        in: query
        description: Choose the returned value for facet items, either count of issues or sum of remediation
          effort.
        required: false
        schema:
          type: string
          enum:
          - count
          - effort
          default: count
      - name: facets
        in: query
        description: Comma-separated list of the facets to be computed. No facet is computed by default.
        required: false
        schema:
          type: string
          enum:
          - projects
          - moduleUuids
          - fileUuids
          - assigned_to_me
          - severities
          - statuses
          - issueStatuses
          - resolutions
          - rules
          - assignees
          - author
          - directories
          - languages
          - tags
          - types
          - owaspMobileTop10-2024
          - owaspTop10
          - owaspTop10-2021
          - cwe
          - createdAt
          - sonarsourceSecurity
          - impactSoftwareQualities
          - impactSeverities
          - cleanCodeAttributeCategories
          - complianceStandards
      - name: impactSeverities
        in: query
        description: Comma-separated list of impact severities.
        required: false
        schema:
          type: string
          enum:
          - INFO
          - LOW
          - MEDIUM
          - HIGH
          - BLOCKER
        example: HIGH,LOW
      - name: impactSoftwareQualities
        in: query
        description: Comma-separated list of software qualities.
        required: false
        schema:
          type: string
          enum:
          - MAINTAINABILITY
          - RELIABILITY
          - SECURITY
        example: MAINTAINABILITY,RELIABILITY
      - name: issueStatuses
        in: query
        description: Comma-separated list of issue statuses
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - CONFIRMED
          - FALSE_POSITIVE
          - ACCEPTED
          - FIXED
        example: OPEN,ACCEPTED
      - name: issues
        in: query
        description: Comma-separated list of issue keys
        required: false
        schema:
          type: string
        example: 5bccd6e8-f525-43a2-8d76-fcb13dde79ef
      - name: languages
        in: query
        description: Comma-separated list of languages. Available since 4.4
        required: false
        schema:
          type: string
        example: java,js
      - name: onComponentOnly
        in: query
        description: Return only issues at a component's level, not on its descendants (modules, directories,
          files, etc). This parameter is only considered when componentKeys or componentUuids is set.
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'false'
      - name: organization
        in: query
        description: Organization key
        required: false
        schema:
          type: string
        example: my-org
      - name: owaspMobileTop10-2024
        in: query
        description: Comma-separated list of OWASP Mobile Top 10 - 2024 lowercase categories.
        required: false
        schema:
          type: string
          enum:
          - m1
          - m2
          - m3
          - m4
          - m5
          - m6
          - m7
          - m8
          - m9
          - m10
      - name: owaspTop10
        in: query
        description: Comma-separated list of OWASP Top 10 lowercase categories.
        required: false
        schema:
          type: string
          enum:
          - a1
          - a2
          - a3
          - a4
          - a5
          - a6
          - a7
          - a8
          - a9
          - a10
      - name: owaspTop10-2021
        in: query
        description: Comma-separated list of OWASP Top 10 - 2021 lowercase categories.
        required: false
        schema:
          type: string
          enum:
          - a1
          - a2
          - a3
          - a4
          - a5
          - a6
          - a7
          - a8
          - a9
          - a10
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 500
        required: false
        schema:
          type: string
          default: '50'
        example: '20'
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      - name: resolutions
        in: query
        description: Comma-separated list of resolutions
        required: false
        schema:
          type: string
          enum:
          - FALSE-POSITIVE
          - WONTFIX
          - FIXED
          - REMOVED
        example: FIXED,REMOVED
      - name: resolved
        in: query
        description: To match resolved or unresolved issues
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
      - name: rules
        in: query
        description: Comma-separated list of coding rule keys. Format is <repository>:<rule>
        required: false
        schema:
          type: string
        example: squid:AvoidCycles
      - name: s
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - STATUS
          - UPDATE_DATE
          - CLOSE_DATE
          - HOTSPOTS
          - FILE_LINE
          - SEVERITY
          - CREATION_DATE
          - ASSIGNEE
      - name: severities
        in: query
        description: Comma-separated list of severities
        required: false
        schema:
          type: string
          enum:
          - INFO
          - MINOR
          - MAJOR
          - CRITICAL
          - BLOCKER
        example: BLOCKER,CRITICAL
      - name: sinceLeakPeriod
        in: query
        description: To retrieve issues created since the leak period. If this parameter is set to a truthy
          value, createdAfter must not be set and one component id or key must be provided.
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'false'
      - name: sonarsourceSecurity
        in: query
        description: Comma-separated list of SonarSource security categories. Use 'others' to select issues
          not associated with any category
        required: false
        schema:
          type: string
          enum:
          - buffer-overflow
          - permission
          - sql-injection
          - command-injection
          - path-traversal-injection
          - ldap-injection
          - xpath-injection
          - rce
          - dos
          - ssrf
          - csrf
          - xss
          - log-injection
          - http-response-splitting
          - open-redirect
          - xxe
          - object-injection
          - weak-cryptography
          - auth
          - insecure-conf
          - encrypt-data
          - traceability
          - file-manipulation
          - others
      - name: statuses
        in: query
        description: Comma-separated list of statuses
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - CONFIRMED
          - REOPENED
          - RESOLVED
          - CLOSED
        example: OPEN,REOPENED
      - name: tags
        in: query
        description: Comma-separated list of tags.
        required: false
        schema:
          type: string
        example: security,convention
      - name: types
        in: query
        description: Comma-separated list of types.
        required: false
        schema:
          type: string
          enum:
          - CODE_SMELL
          - BUG
          - VULNERABILITY
        example: CODE_SMELL,BUG
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/set_severity:
    post:
      operationId: issuesSetSeverity
      summary: 'Change severity. Requires the following permissions: ''Authentication'' ''Browse'' rights
        on project of the specified iss...'
      description: 'Change severity. Requires the following permissions: ''Authentication'' ''Browse''
        rights on project of the specified issue ''Administer Issues'' rights on project of the specified
        issue'
      tags:
      - issues
      parameters:
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: severity
        in: query
        description: New severity
        required: true
        schema:
          type: string
          enum:
          - INFO
          - MINOR
          - MAJOR
          - CRITICAL
          - BLOCKER
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/issues/set_tags:
    post:
      operationId: issuesSetTags
      summary: Set tags on an issue. Requires authentication and Browse permission on project
      description: Set tags on an issue. Requires authentication and Browse permission on project
      tags:
      - issues
      parameters:
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: tags
        in: query
        description: Comma-separated list of tags. All tags are removed if parameter is empty or not set.
        required: false
        schema:
          type: string
        example: security,cwe,misra-c
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/issues/set_type:
    post:
      operationId: issuesSetType
      summary: 'Change type of issue, for instance from ''code smell'' to ''bug''. Requires the following
        permissions: ''Authentication'' ''...'
      description: 'Change type of issue, for instance from ''code smell'' to ''bug''. Requires the following
        permissions: ''Authentication'' ''Browse'' rights on project of the specified issue ''Administer
        Issues'' rights on project of the specified issue'
      tags:
      - issues
      parameters:
      - name: issue
        in: query
        description: Issue key
        required: true
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: type
        in: query
        description: New type
        required: true
        schema:
          type: string
          enum:
          - CODE_SMELL
          - BUG
          - VULNERABILITY
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/issues/tags:
    get:
      operationId: issuesTags
      summary: List tags matching a given query
      description: List tags matching a given query
      tags:
      - issues
      parameters:
      - name: organization
        in: query
        description: Organization key
        required: false
        schema:
          type: string
        example: my-org
      - name: project
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 100
        required: false
        schema:
          type: string
          default: '10'
        example: '20'
      - name: q
        in: query
        description: Limit search to tags that contain the supplied string.
        required: false
        schema:
          type: string
        example: misra
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/languages/list:
    get:
      operationId: languagesList
      summary: List supported programming languages
      description: List supported programming languages
      tags:
      - languages
      parameters:
      - name: ps
        in: query
        description: The size of the list to return, 0 for all languages
        required: false
        schema:
          type: string
          default: '0'
        example: '25'
      - name: q
        in: query
        description: A pattern to match language keys/names against
        required: false
        schema:
          type: string
        example: java
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/measures/component:
    get:
      operationId: measuresComponent
      summary: Return component with specified measures. The componentId or the component parameter must
        be provided. Requires the f...
      description: 'Return component with specified measures. The componentId or the component parameter
        must be provided. Requires the following permission: ''Browse'' on the project of specified component.'
      tags:
      - measures
      parameters:
      - name: additionalFields
        in: query
        description: Comma-separated list of additional fields that can be returned in the response.
        required: false
        schema:
          type: string
          enum:
          - metrics
          - periods
        example: periods,metrics
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: component
        in: query
        description: Component key
        required: false
        schema:
          type: string
        example: my_project
      - name: componentId
        in: query
        description: Component id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: developerId
        in: query
        description: Deprecated parameter, used previously with the Developer Cockpit plugin. No measures
          are returned if parameter is set.
        required: false
        schema:
          type: string
      - name: developerKey
        in: query
        description: Deprecated parameter, used previously with the Developer Cockpit plugin. No measures
          are returned if parameter is set.
        required: false
        schema:
          type: string
      - name: metricKeys
        in: query
        description: Comma-separated list of metric keys
        required: true
        schema:
          type: string
        example: ncloc,complexity,violations
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/measures/component_tree:
    get:
      operationId: measuresComponentTree
      summary: Navigate through components based on the chosen strategy with specified measures. The baseComponentId
        or the componen...
      description: 'Navigate through components based on the chosen strategy with specified measures.
        The baseComponentId or the component parameter must be provided. Requires the following permission:
        ''Browse'' on the specified project. When limiting search with the q parameter, directories are
        not returned.'
      tags:
      - measures
      parameters:
      - name: additionalFields
        in: query
        description: Comma-separated list of additional fields that can be returned in the response.
        required: false
        schema:
          type: string
          enum:
          - metrics
          - periods
        example: periods,metrics
      - name: asc
        in: query
        description: Ascending sort
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'true'
      - name: baseComponentId
        in: query
        description: Base component id. The search is based on this component.
        required: false
        schema:
          type: string
        example: AU-TpxcA-iU5OvuD2FLz
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: component
        in: query
        description: Component key. The search is based on this component.
        required: false
        schema:
          type: string
        example: my_project
      - name: developerId
        in: query
        description: Deprecated parameter, used previously with the Developer Cockpit plugin. No measures
          are returned if parameter is set.
        required: false
        schema:
          type: string
      - name: developerKey
        in: query
        description: Deprecated parameter, used previously with the Developer Cockpit plugin. No measures
          are returned if parameter is set.
        required: false
        schema:
          type: string
      - name: metricKeys
        in: query
        description: Comma-separated list of metric keys. Types DATA, DISTRIB are not allowed.
        required: true
        schema:
          type: string
        example: ncloc,complexity,violations
      - name: metricPeriodSort
        in: query
        description: Sort measures by leak period or not ?. The 's' parameter must contain the 'metricPeriod'
          value.
        required: false
        schema:
          type: string
          enum:
          - '1'
      - name: metricSort
        in: query
        description: Metric key to sort by. The 's' parameter must contain the 'metric' or 'metricPeriod'
          value. It must be part of the 'metricKeys' parameter
        required: false
        schema:
          type: string
        example: ncloc
      - name: metricSortFilter
        in: query
        description: 'Filter components. Sort must be on a metric. Possible values are: all: return all
          componentswithMeasuresOnly: filter out components that do not have a measure on the sorted metric'
        required: false
        schema:
          type: string
          enum:
          - all
          - withMeasuresOnly
          default: all
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 500
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      - name: q
        in: query
        description: 'Limit search to: component names that contain the supplied stringcomponent keys
          that are exactly the same as the supplied string'
        required: false
        schema:
          type: string
        example: FILE_NAM
      - name: qualifiers
        in: query
        description: Comma-separated list of component qualifiers. Filter the results with the specified
          qualifiers. Possible values are:BRC - Sub-projectsDIR - DirectoriesFIL - FilesTRK - ProjectsUTS
          - Test Files
        required: false
        schema:
          type: string
          enum:
          - BRC
          - DIR
          - FIL
          - TRK
          - UTS
      - name: s
        in: query
        description: Comma-separated list of sort fields
        required: false
        schema:
          type: string
          enum:
          - metric
          - metricPeriod
          - name
          - path
          - qualifier
          default: name
        example: name,path
      - name: strategy
        in: query
        description: 'Strategy to search for base component descendants:children: return the children
          components of the base component. Grandchildren components are not returnedall: return all the
          descendants components of the base component. Grandchildren are returned.leaves: return all
          the descendant components (files, in general) which don''t have other children. They are the
          leaves of the component tree.'
        required: false
        schema:
          type: string
          enum:
          - leaves
          - all
          - children
          default: all
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/measures/search_history:
    get:
      operationId: measuresSearchHistory
      summary: Search measures history of a component. Measures are ordered chronologically. Pagination
        applies to the number of mea...
      description: 'Search measures history of a component. Measures are ordered chronologically. Pagination
        applies to the number of measures for each metric. Requires the following permission: ''Browse''
        on the specified component'
      tags:
      - measures
      parameters:
      - name: branch
        in: query
        description: Branch key
        required: false
        schema:
          type: string
        example: feature/my_branch
      - name: component
        in: query
        description: Component key
        required: true
        schema:
          type: string
        example: my_project
      - name: from
        in: query
        description: Filter measures created after the given date (inclusive). Either a date (server timezone)
          or datetime can be provided
        required: false
        schema:
          type: string
        example: 2017-10-19 or 2017-10-19T13:00:00+0200
      - name: metrics
        in: query
        description: Comma-separated list of metric keys
        required: true
        schema:
          type: string
        example: ncloc,coverage,new_violations
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 1000
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      - name: pullRequest
        in: query
        description: Pull request id
        required: false
        schema:
          type: string
        example: '5461'
      - name: to
        in: query
        description: Filter measures created before the given date (inclusive). Either a date (server
          timezone) or datetime can be provided
        required: false
        schema:
          type: string
        example: 2017-10-19 or 2017-10-19T13:00:00+0200
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/metrics/domains:
    get:
      operationId: metricsDomains
      summary: List all custom metric domains.
      description: List all custom metric domains.
      tags:
      - metrics
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
      deprecated: true
  /api/metrics/search:
    get:
      operationId: metricsSearch
      summary: Search for metrics
      description: Search for metrics
      tags:
      - metrics
      parameters:
      - name: f
        in: query
        description: Comma-separated list of the fields to be returned in response. All the fields are
          returned by default.
        required: false
        schema:
          type: string
          enum:
          - name
          - description
          - domain
          - direction
          - qualitative
          - hidden
          - decimalScale
      - name: p
        in: query
        description: 1-based page number
        required: false
        schema:
          type: string
          default: '1'
        example: '42'
      - name: ps
        in: query
        description: Page size. Must be greater than 0 and less or equal than 500
        required: false
        schema:
          type: string
          default: '100'
        example: '20'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/metrics/types:
    get:
      operationId: metricsTypes
      summary: List all available metric types.
      description: List all available metric types.
      tags:
      - metrics
      parameters: []
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/notifications/add:
    post:
      operationId: notificationsAdd
      summary: 'Add a notification for the authenticated user. Requires one of the following permissions:
        Authentication if no login ...'
      description: 'Add a notification for the authenticated user. Requires one of the following permissions:
        Authentication if no login is provided. If a project is provided, requires the ''Browse'' permission
        on the specified project. If a project is provided, requires the ''Browse'' permission on the
        specified project.'
      tags:
      - notifications
      parameters:
      - name: channel
        in: query
        description: Channel through which the notification is sent. For example, notifications can be
          sent by email.
        required: false
        schema:
          type: string
          enum:
          - EmailNotificationChannel
          default: EmailNotificationChannel
      - name: login
        in: query
        description: User login
        required: false
        schema:
          type: string
      - name: project
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      - name: type
        in: query
        description: 'Notification type. Possible values are for: Global notifications: CeReportTaskFailure,
          ChangesOnMyIssue, SQ-MyNewIssues Per project notifications: CeReportTaskFailure, ChangesOnMyIssue,
          NewAlerts, NewFalsePositiveIssue, NewIssues, SQ-MyNewIssues'
        required: true
        schema:
          type: string
        example: SQ-MyNewIssues
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/notifications/list:
    get:
      operationId: notificationsList
      summary: List notifications of the authenticated user
      description: List notifications of the authenticated user
      tags:
      - notifications
      parameters:
      - name: login
        in: query
        description: User login
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/notifications/remove:
    post:
      operationId: notificationsRemove
      summary: Remove a notification for the authenticated user
      description: Remove a notification for the authenticated user
      tags:
      - notifications
      parameters:
      - name: channel
        in: query
        description: Channel through which the notification is sent. For example, notifications can be
          sent by email.
        required: false
        schema:
          type: string
          enum:
          - EmailNotificationChannel
          default: EmailNotificationChannel
      - name: login
        in: query
        description: User login
        required: false
        schema:
          type: string
      - name: project
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      - name: type
        in: query
        description: 'Notification type. Possible values are for: Global notifications: CeReportTaskFailure,
          ChangesOnMyIssue, SQ-MyNewIssues Per project notifications: CeReportTaskFailure, ChangesOnMyIssue,
          NewAlerts, NewFalsePositiveIssue, NewIssues, SQ-MyNewIssues'
        required: true
        schema:
          type: string
        example: SQ-MyNewIssues
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/add_group:
    post:
      operationId: permissionsAddGroup
      summary: Add permission to a group. This service defaults to global permissions, but can be limited
        to project permissions by ...
      description: Add permission to a group. This service defaults to global permissions, but can be
        limited to project permissions by providing project id or project key. The group name or group
        id must be provided. Requires the permission 'Administer' on the specified project.
      tags:
      - permissions
      parameters:
      - name: groupId
        in: query
        description: Group id (deprecated). Use 'groupName' and 'organization' instead.
        required: false
        schema:
          type: string
        example: '42'
      - name: groupName
        in: query
        description: Group name or 'anyone' (case insensitive)
        required: false
        schema:
          type: string
        example: sonar-administrators
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: 'PermissionPossible values for global permissions: admin, profileadmin, gateadmin,
          scan, provisioningPossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin,
          architectureadmin, scan, user'
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: Project id
        required: false
        schema:
          type: string
        example: ce4c03d6-430f-40a9-b777-ad877c00aa4d
      - name: projectKey
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/add_group_to_template:
    post:
      operationId: permissionsAddGroupToTemplate
      summary: Add a group to a permission template. The group id or group name must be provided. Requires
        the permission 'Administe...
      description: Add a group to a permission template. The group id or group name must be provided.
        Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: groupId
        in: query
        description: Group id (deprecated). Use 'groupName' and 'organization' instead.
        required: false
        schema:
          type: string
        example: '42'
      - name: groupName
        in: query
        description: Group name or 'anyone' (case insensitive)
        required: false
        schema:
          type: string
        example: sonar-administrators
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: PermissionPossible values for project permissions admin, codeviewer, issueadmin,
          securityhotspotadmin, architectureadmin, scan, user
        required: true
        schema:
          type: string
          enum:
          - admin
          - codeviewer
          - issueadmin
          - securityhotspotadmin
          - architectureadmin
          - scan
          - user
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/add_project_creator_to_template:
    post:
      operationId: permissionsAddProjectCreatorToTemplate
      summary: Add a project creator to a permission template. Requires the permission 'Administer' on
        the organization.
      description: Add a project creator to a permission template. Requires the permission 'Administer'
        on the organization.
      tags:
      - permissions
      parameters:
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: PermissionPossible values for project permissions admin, codeviewer, issueadmin,
          securityhotspotadmin, architectureadmin, scan, user
        required: true
        schema:
          type: string
          enum:
          - admin
          - codeviewer
          - issueadmin
          - securityhotspotadmin
          - architectureadmin
          - scan
          - user
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/add_user:
    post:
      operationId: permissionsAddUser
      summary: Add permission to a user. This service defaults to global permissions, but can be limited
        to project permissions by p...
      description: Add permission to a user. This service defaults to global permissions, but can be limited
        to project permissions by providing project id or project key. Requires the permission 'Administer'
        on the specified project.
      tags:
      - permissions
      parameters:
      - name: login
        in: query
        description: User login
        required: true
        schema:
          type: string
        example: g.hopper
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: true
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: 'PermissionPossible values for global permissions: admin, profileadmin, gateadmin,
          scan, provisioningPossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin,
          architectureadmin, scan, user'
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: Project id
        required: false
        schema:
          type: string
        example: ce4c03d6-430f-40a9-b777-ad877c00aa4d
      - name: projectKey
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/add_user_to_template:
    post:
      operationId: permissionsAddUserToTemplate
      summary: Add a user to a permission template. Requires the permission 'Administer' on the organization.
      description: Add a user to a permission template. Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: login
        in: query
        description: User login
        required: true
        schema:
          type: string
        example: g.hopper
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: PermissionPossible values for project permissions admin, codeviewer, issueadmin,
          securityhotspotadmin, architectureadmin, scan, user
        required: true
        schema:
          type: string
          enum:
          - admin
          - codeviewer
          - issueadmin
          - securityhotspotadmin
          - architectureadmin
          - scan
          - user
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/apply_template:
    post:
      operationId: permissionsApplyTemplate
      summary: Apply a permission template to one project. The project id or project key must be provided.
        The template id or name m...
      description: Apply a permission template to one project. The project id or project key must be provided.
        The template id or name must be provided. Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: projectId
        in: query
        description: Project id
        required: false
        schema:
          type: string
        example: ce4c03d6-430f-40a9-b777-ad877c00aa4d
      - name: projectKey
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/bulk_apply_template:
    post:
      operationId: permissionsBulkApplyTemplate
      summary: Apply a permission template to several projects. The template id or name must be provided.
        Requires the permission 'A...
      description: Apply a permission template to several projects. The template id or name must be provided.
        Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: analyzedBefore
        in: query
        description: Filter the projects for which last analysis is older than the given date (exclusive).
          Either a date (server timezone) or datetime can be provided.
        required: false
        schema:
          type: string
        example: 2017-10-19 or 2017-10-19T13:00:00+0200
      - name: onProvisionedOnly
        in: query
        description: Filter the projects that are provisioned
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
          default: 'false'
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: projects
        in: query
        description: Comma-separated list of project keys
        required: false
        schema:
          type: string
        example: my_project,another_project
      - name: q
        in: query
        description: 'Limit search to: project names that contain the supplied stringproject keys that
          are exactly the same as the supplied string'
        required: false
        schema:
          type: string
        example: apac
      - name: qualifiers
        in: query
        description: Comma-separated list of component qualifiers. Filter the results with the specified
          qualifiers. Possible values are:TRK - Projects
        required: false
        schema:
          type: string
          enum:
          - TRK
          default: TRK
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/create_template:
    post:
      operationId: permissionsCreateTemplate
      summary: Create a permission template. Requires the permission 'Administer' on the organization.
      description: Create a permission template. Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: description
        in: query
        description: Description
        required: false
        schema:
          type: string
        example: Permissions for all projects related to the financial service
      - name: name
        in: query
        description: Name
        required: true
        schema:
          type: string
        example: Financial Service Permissions
      - name: organization
        in: query
        description: Key of organization
        required: true
        schema:
          type: string
        example: my-org
      - name: projectKeyPattern
        in: query
        description: Project key pattern. Must be a valid Java regular expression
        required: false
        schema:
          type: string
        example: .*\.finance\..*
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/delete_template:
    post:
      operationId: permissionsDeleteTemplate
      summary: Delete a permission template. Requires the permission 'Administer' on the organization.
      description: Delete a permission template. Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/remove_group:
    post:
      operationId: permissionsRemoveGroup
      summary: Remove a permission from a group. This service defaults to global permissions, but can
        be limited to project permissi...
      description: Remove a permission from a group. This service defaults to global permissions, but
        can be limited to project permissions by providing project id or project key. The group id or
        group name must be provided, not both. Requires the permission 'Administer' on the specified project.
      tags:
      - permissions
      parameters:
      - name: groupId
        in: query
        description: Group id (deprecated). Use 'groupName' and 'organization' instead.
        required: false
        schema:
          type: string
        example: '42'
      - name: groupName
        in: query
        description: Group name or 'anyone' (case insensitive)
        required: false
        schema:
          type: string
        example: sonar-administrators
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: 'PermissionPossible values for global permissions: admin, profileadmin, gateadmin,
          scan, provisioningPossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin,
          architectureadmin, scan, user'
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: Project id
        required: false
        schema:
          type: string
        example: ce4c03d6-430f-40a9-b777-ad877c00aa4d
      - name: projectKey
        in: query
        description: Project key
        required: false
        schema:
          type: string
        example: my_project
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/remove_group_from_template:
    post:
      operationId: permissionsRemoveGroupFromTemplate
      summary: Remove a group from a permission template. The group id or group name must be provided.
        Requires the permission 'Admi...
      description: Remove a group from a permission template. The group id or group name must be provided.
        Requires the permission 'Administer' on the organization.
      tags:
      - permissions
      parameters:
      - name: groupId
        in: query
        description: Group id (deprecated). Use 'groupName' and 'organization' instead.
        required: false
        schema:
          type: string
        example: '42'
      - name: groupName
        in: query
        description: Group name or 'anyone' (case insensitive)
        required: false
        schema:
          type: string
        example: sonar-administrators
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: PermissionPossible values for project permissions admin, codeviewer, issueadmin,
          securityhotspotadmin, architectureadmin, scan, user
        required: true
        schema:
          type: string
          enum:
          - admin
          - codeviewer
          - issueadmin
          - securityhotspotadmin
          - architectureadmin
          - scan
          - user
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/remove_project_creator_from_template:
    post:
      operationId: permissionsRemoveProjectCreatorFromTemplate
      summary: Remove a project creator from a permission template. Requires the permission 'Administer'
        on the organization.
      description: Remove a project creator from a permission template. Requires the permission 'Administer'
        on the organization.
      tags:
      - permissions
      parameters:
      - name: organization
        in: query
        description: Key of organization, used when group name is set
        required: false
        schema:
          type: string
        example: my-org
      - name: permission
        in: query
        description: PermissionPossible values for project permissions admin, codeviewer, issueadmin,
          securityhotspotadmin, architectureadmin, scan, user
        required: true
        schema:
          type: string
          enum:
          - admin
          - codeviewer
          - issueadmin
          - securityhotspotadmin
          - architectureadmin
          - scan
          - user
      - name: templateId
        in: query
        description: Template id
        required: false
        schema:
          type: string
        example: AU-Tpxb--iU5OvuD2FLy
      - name: templateName
        in: query
        description: Template name
        required: false
        schema:
          type: string
        example: Default Permission Template for Projects
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized - authentication required
        '403':
          description: Insufficient privileges
        '404':
          description: Not Found
  /api/permissions/remove_user:
    post:
      operationId: permissionsRemoveUser
      summary: Remove permission from a user. This service defaults to global permissions, but can be
[...]
